<?xml version="1.0"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Include>
            <ModulePath>.*DupScan.Core.*</ModulePath>
            <ModulePath>.*DupScan.Cli.*</ModulePath>
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
